/*STYLING FOR UX SKILLS SECTION */
p{
 display: flex;
}

.skills_img {
    display: flex; 
    border: orchid solid 2px; 
}

button {
    background-color: magenta; 
    color: white;
}

.areaSection {
    border: blue 5px solid;
    padding: 50px;
}

.mainTitle {
    display: flex;
    justify-content: center;
    border: orange 5px solid;
}

.flexContainer {
    border: pink 5px solid; 
    display: flex;
}

.flexChild1 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.flexChild2 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;  
}

.flexChild3 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.skill1 {
    border: red 5px solid;
    display: flex;
    justify-content: center;
}

.skill2 {
    border: green 5px solid;
    display: flex;
    justify-content: center;
}

.skill3 {
    border: purple 5px solid;
    display: flex;
    justify-content: center;
}

/*STYLING FOR WORK SKILLS SECTION */

.workSection {
    border: blue 5px solid;
    padding: 50px;
}

.skillsTitle {
    border: orange 5px solid;
    text-align: center;
}

.flexContainer2 {
    border: pink 5px solid;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
   
}

.flexChild1_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.flexChild2_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.flexChild3_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.workSkill1 {
    border: red 5px solid;
    text-align: center;

}

.workSkill2 {
    border: green 5px solid;
    text-align: center; 
}

.workSkill3 {
    border: purple 5px solid;
    text-align: center;
}

.skills_img { 
    margin: 0 0 0 45px;;
}