/*STYLING FOR UX SKILLS SECTION */
p{
 display: flex;
}

img {
    display: flex; 
    border: orchid solid 2px; 
}

button {
    background-color: magenta; 
    color: white;
}

.areaSection {
    border: blue 5px solid;
}

.mainTitle {
    display: flex;
    justify-content: center;
    border: orange 5px solid;
}

.flexContainer {
    border: pink 5px solid; 
    display: flex;
    align-items: center;
}

.flexChild1 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
}

.flexChild2 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex; 
}

.flexChild3 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
}

.skill1 {
    border: red 5px solid;
    display: flex;
    justify-content: center;
}

.skill2 {
    border: green 5px solid;
    display: flex;
    justify-content: center;
}

.skill3 {
    border: purple 5px solid;
    display: flex;
    justify-content: center;
}

/*STYLING FOR WORK SKILLS SECTION */

.workButton {
    height: 50px;
    width: 125px;
}

.workSection {
    border: blue 5px solid;
    display: grid; 
    grid-template-rows: 1fr 5fr;

}

.skillsTitle {
    border: orange 5px solid; 
}

.flexContainer2 {
    border: pink 5px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.flexChild1_2 {
    border: teal 5px dotted;
}

.flexChild2_2 {
    border: teal 5px dotted;
}

.flexChild3_2 {
    border: teal 5px dotted;
}

.workSkill1 {
    border: red 5px solid;
}

.workSkill2 {
    border: green 5px solid; 
}

.workSkill3 {
    border: purple 5px solid;
}