/*STYLING FOR UX SKILLS SECTION */
body {
    background-color: grey;
}
.skills_img {
    display: flex; 
    border: orchid solid 2px; 
}

button {
    background-color: magenta; 
    color: white;
}

.areaSection {
    border: blue 5px solid;
    padding: 50px;
}

.mainTitle {
    display: flex;
    justify-content: center;
    border: orange 5px solid;
}

.flexContainer {
    border: pink 5px solid; 
    display: flex;
}

.flexChild1 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.flexChild2 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;  
}

.flexChild3 {
    border: teal 5px dotted;
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.skill1 {
    border: red 5px solid;
    display: flex;
    justify-content: center;
}

.skill2 {
    border: green 5px solid;
    display: flex;
    justify-content: center;
}

.skill3 {
    border: purple 5px solid;
    display: flex;
    justify-content: center;
}

/*STYLING FOR WORK SKILLS SECTION */

.workSection {
    border: blue 5px solid;
    padding: 50px;
}

.skillsTitle {
    border: orange 5px solid;
    text-align: center;
}

.flexContainer2 {
    border: pink 5px solid;   
}

.work_img {
    border: orchid 5px solid;

}


.wrapGrid {
    border: yellow solid 3px;
    display: grid;
    grid-template-columns: 1fr 4fr; 
}

.smallGrid{
   border: black solid 3px; 
   display: grid;
   grid-template-rows: 1fr 1fr; 
   grid-template-columns: 1fr 1fr 1fr; 
}

.workButton {
    background-color: tan; 
    height: 60px; 
    grid-area: 2 / 2 / 2 / 3;

}

.insideP {
    grid-area: 1 / 1 / 1 / 4;
}

.flexChild1_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.flexChild2_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.flexChild3_2 {
    border: teal 5px dotted;
    padding: 20px;
}

.workSkill1 {
    border: red 5px solid;
    text-align: center;

}

.workSkill2 {
    border: green 5px solid;
    text-align: center; 
}

.workSkill3 {
    border: purple 5px solid;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
      background-color: lightgreen;
    }
  }
